---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

body {
  background-color: #EEEEEE;
}

#backdrop {
  background: #EFEBE9;
  height: 270px;
  width: 100%;
  position: absolute;
}

main {
  .mdl-grid {
    max-width: 1600px;
  }

  .logo {
    width: 140px;
  }

  #site-header {
    padding-right: 30px;
    text-align: right;
    margin-top: 160px;

    nav {
      margin-top: 40px;
      border-right: 2px solid #D7CCC8;

      .mdl-list__item-secondary-content a {
        text-decoration: none;
      }
    }
  }

  section {
    margin-top: 60px;
    &> .mdl-card {
      width: 100%;
      min-height: 700px;

      .mdl-card__title {
        .mdl-card__title-text {
          font-size: 32px;
        }
      }

      .mdl-card__supporting-text {
        min-height: 500px;
      }
    }
  }
}