---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import
  'base',
  'layout',
  'mono-icons'
;

body {
  background-color: #EEEEEE;
}

a {
  text-decoration: none;
}

.mdl-layout__drawer {
  .mdl-layout-title {
    border-bottom: 1px solid #CCC;
    padding-top: 20px;
    padding-bottom: 20px;

    img.logo {
      width: 100px;
    }
  }

  .mdl-navigation__link {
    font-weight: 600;
  }
}

img#toolbar-logo {
  height: 26px;
}

main {
  #backdrop {
    background: #EFEBE9;
    height: 270px;
    width: 100%;
  }
  #main-grid.mdl-grid {
    margin-top: -270px;
    max-width: 1600px;
  }

  img.logo {
    width: 140px;
  }

  #site-header {
    padding-right: 30px;
    text-align: right;
    margin-top: 160px;

    nav {
      margin-top: 40px;
      border-right: 2px solid #D7CCC8;

      .mdl-list__item a {
        color: unquote("rgb(#{$palette-rba-300})");
      }

      .mdl-list__item-secondary-content a {
        text-decoration: none;
      }
    }
  }

  @media (min-width: $phone-max-width) {
    .page, .post, .blog {
      margin-top: 60px;
    }

    .hero {
      margin-top: 80px;
    }
  }

  .hero {
    background-color: #B0BEC5;
    height: 550px;
    padding: 30px 10px 30px;
    margin-bottom: 15px;

    .hero-text {
      background: -moz-linear-gradient(top, rgba(0,0,0,0.3) 71%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(0,0,0,0.3) 71%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(0,0,0,0.3) 71%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d000000', endColorstr='#4dffffff',GradientType=0 );
      margin: -30px -10px 0;
      padding: 15px;
      padding-top: 70px;
    }

    .main-title {
      color: #fff;
      font-weight: 100;
      font-size: 62px;
      line-height: 62px;
    }
    .subtitle {
      color: #eee;
      font-size: 22px;
      font-weight: 100;
    }
    img {
      border-radius: 10px;
    }
  }

  #showcase {
    .item {
      opacity: 0;
      max-width: 0;
      transition: all 1.5s linear;
      margin: 0 auto;

      &.active {
        max-width: none;
        opacity: 1;
      }
    }
  }

  .page, .home, .post, .blog {

      &> .title {
        padding: 15px;
        padding-top: 54px;
        border-bottom: 1px solid 'rgb(#{$color-accent})';

        .title-text {
          font-weight: 300;
          line-height: normal;
          font-size: 34px;
          margin-bottom: 0;
        }
      }

      &> .content {
        min-height: 500px;
        padding: 10px;
        background-color: #fff;

        .mdl-grid .mdl-card {
          margin: 10px;
          width: 300px;

          .mdl-card__supporting-text {
            min-height: 50px;
          }
        }
      }
    }
}

footer {
  background-color: #ddd !important;
  .social-accounts {
    .social-link {
      .symbol {
        font-size: 40px;
      }
      margin-right: 8px;
    }
  }

  .fora-promote {
    height: 16px;
    a {
      position: relative;
      top: -13px;
      img {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        transition: all .5s;
        &:hover {
          -webkit-filter: none;
          filter: none;
        }
      }
    }
  }
}

.social-link {
  .symbol {
    transition: color .5s;
  }
  &.pinterest:hover .symbol {
    color: #CC2028;
  }
  &.linkedin:hover .symbol {
    color: #007BB6;
  }
  &.gplus:hover .symbol {
    color: #DC4C41;
  }
  &.facebook:hover .symbol {
    color: #3B5999;
  }
  &.twitter:hover .symbol {
      color: #00ACED;
  }
}

.social-link.twitter:hover {
  .symbol {
    color: #00ACED;
  }
}

.projects {
  .mdl-tabs__panel {
    padding-top: 20px;
  }

  .mdl-card {
    .mdl-card__title-text {
      color: #fff;
      text-shadow: 1px 1px 5px #000;
    }
  }
}


#modal.modal {
  .modal__dialog {
    width: 100%;
    max-width: 1600px;

    .modal__content .modal__text {
      max-height: 700px;
      overflow: auto;
      text-align: center;
      img {
        max-width: 100%;
        margin: 15px;
      }
    }

    .modal__footer {
      text-align: right;
    }
  }
}