---
layout: page
title: Kariyer
permalink: /career/
---

<h4>Açık Pozisyonlar</h4>
<span>{{ site.data.career.updateDate }}</span>

<div class="mdl-grid">

<ul class="demo-list-two mdl-list">
{% for position in site.data.career.positions %}
  <li class="mdl-list__item mdl-list__item--two-line">
    <span class="mdl-list__item-primary-content">
      {% if position.icon %}
        <i class="material-icons mdl-list__item-avatar">{{position.icon}}</i>
      {% else %}
        <i class="material-icons mdl-list__item-avatar">person</i>
      {% endif %}
      <span>{{ position.name }}</span>
      <span class="mdl-list__item-sub-title">{{ position.location }}</span>
    </span>
    <span class="mdl-list__item-secondary-content">
      <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">more_horiz</i></a>
    </span>
  </li>
{% endfor %}
</ul>

</div>