<footer class="mdl-mini-footer">
  <div class="mdl-mini-footer__left-section">
    <div class="mdl-logo">
    </div>
    <ul class="mdl-mini-footer__link-list">
    </ul>
  </div>
  <div class="mdl-mini-footer__left-section">
  </div>
  <div class="mdl-mini-footer__middle-section social-accounts">
    <a id="twitter-link" class="social-link twitter" href="https://twitter.com/{{site.twitter_username}}">
      <span class="symbol">circletwitterbird</span>
    </a>
    <a id="facebook-link" class="social-link facebook" href="https://facebook.com/{{site.facebook_page}}">
      <span class="symbol">circlefacebook</span>
    </a>
    <a id="gplus-link" class="social-link gplus" href="https://plus.google.com/{{site.googleplus_username}}">
      <span class="symbol">circlegoogleplus</span>
    </a>
    <a id="linkedin-link" class="social-link linkedin" href="https://linkedin.com/company/{{site.linkedin_company}}">
      <span class="symbol">circlelinkedin</span>
    </a>
    <a id="pinterest-link" class="social-link pinterest" href="https://pinterest.com/{{site.pinterest_username}}">
      <span class="symbol">circlepinterest</span>
    </a>
  </div>
  <div class="mdl-mini-footer__right-section fora-promote">
    <a href="http://foralabs.com" target="_blank">
      <img id="fora-logo" src="http://foralabs.com/images/logo-xs.png">
      <div class="mdl-tooltip mdl-tooltip--top" for="fora-logo">
        Engineered with <span class="material-icons" style="color: #F06292">favorite_border</span> at Fora Labs.
      </div>
    </a>
  </div>
</footer>
