<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{{ site.title | escape }}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" type="text/css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="{{ '/bower_components/material-modal/dist/css/material-modal.min.css' | prepend: site.baseurl }}"></link>
  <link rel="stylesheet" href="{{ '/bower_components/slick-carousel/slick/slick.css' | prepend: site.baseurl }}"></link>
  <link rel="stylesheet" href="{{ '/bower_components/slick-carousel/slick/slick-theme.css' | prepend: site.baseurl }}"></link>
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  <!-- scripts -->

  <!-- favicon & app icons -->
  <link rel="apple-touch-icon" sizes="57x57" href="{{ "/assets/fav/apple-icon-57x57.png" | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="60x60" href="{{ "/assets/fav/apple-icon-60x60.png" | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ "/assets/fav/apple-icon-72x72.png" | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="76x76" href="{{ "/assets/fav/apple-icon-76x76.png" | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="114x114" href="{{ "/assets/fav/apple-icon-114x114.png" | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="120x120" href="{{ "/assets/fav/apple-icon-120x120.png" | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="144x144" href="{{ "/assets/fav/apple-icon-144x144.png" | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ "/assets/fav/apple-icon-152x152.png" | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/fav/apple-icon-180x180.png" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="192x192"  href="{{ "/assets/fav/android-icon-192x192.png" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ "/assets/fav/favicon-32x32.png" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="96x96" href="{{ "/assets/fav/favicon-96x96.png" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ "/assets/fav/favicon-16x16.png" | prepend: site.baseurl }}">
  <link rel="manifest" href="{{ "/assets/fav/manifest.json" | prepend: site.baseurl }}">
  <meta name="msapplication-TileColor" content="#0c323d">
  <meta name="msapplication-TileImage" content="{{ "/assets/fav/ms-icon-144x144.png" | prepend: site.baseurl }}">
  <meta name="theme-color" content="#0c323d">
</head>

<div id="modal" class="modal modal__bg">
  <div class="modal__dialog">
    <div class="modal__content">
      <div class="modal__header">
        <div class="modal__title">
        </div>
        <i class="mdl-button--icon mdl-js-button  material-icons modal__close"></i>
      </div>
      <div class="modal__text">

      </div>
      <div class="modal__footer">
        <a class="mdl-button mdl-button--colored mdl-js-button modal__close">
          Kapat
        </a>
      </div>
    </div>
  </div>
</div>

<div id="modal-career" class="modal modal__bg">
  <div class="modal__dialog">
    <div class="modal__content">
      <div class="modal__header">
        <div class="modal__title">
        </div>
        <i class="mdl-button--icon mdl-js-button  material-icons modal__close"></i>
      </div>
      <div class="modal__text">

      </div>
      <div class="modal__footer">
        <a href="mailto:{{site.career_email}}?subject=İş Başvurusu" class="mdl-button mdl-button--colored mdl-js-button">Başvur</a>
        <a class="mdl-button mdl-button--accent mdl-js-button modal__close">Kapat</a>
      </div>
    </div>
  </div>
</div>