<nav>
  <ul class="mdl-list">
    {% for page in site.pages %}
      {% if page.title %}
      <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content"></span>
        <span class="mdl-list__item-secondary-content">
          <a class="mdl-list__item-secondary-action" href="{{ page.url | prepend: site.baseurl }}">
            {{ page.title }}
          </a>
        </span>
      </li>
      {% endif %}
    {% endfor %}
    <li class="mdl-list__item">
      <span class="mdl-list__item-primary-content"></span>
      <span class="mdl-list__item-secondary-content">
        <a class="mdl-list__item-secondary-action" href="{{ "/blog" | prepend: site.baseurl }}">
          Blog
        </a>
      </span>
    </li>
  </ul>
</nav>