// import mdl color definitions
@import '../bower_components/material-design-lite/src/color-definitions.scss';

$palette-rba-50:  '145,181,193';
$palette-rba-100: '96,148,165';
$palette-rba-200: '74,116,131';
$palette-rba-300: '48,76,85';
$palette-rba-400: '37,58,66)';
$palette-rba-500: '26,41,46';
$palette-rba-600: '15,24,26';
$palette-rba-700: '4,6,7';
$palette-rba-800: '0,0,0';
$palette-rba-900: '0,0,0';
$palette-rba-A100: '145,181,193';
$palette-rba-A200: '96,148,165';
$palette-rba-A400: '37,58,66';
$palette-rba-A700: '4,6,7';

// material design lite variable overrides
$color-primary:       $palette-rba-500;
$color-primary-dark:  $palette-rba-700;
$color-accent:        $palette-brown-300;

$phone-max-width: 840px;
