---
layout: page
---

<h4>Bursa</h4>

<div id="map" style="height: 300px;"></div>
<br>

<p>
  Odunluk Mah. Erdoğan Binyücel Cad. No.19
  Eker İş Merkezi C Blok/102 Nilüfer, <strong>Bursa, Türkiye</strong>
</p>

<p>
  {% include button accent="true" icon="phone" href="tel:90 224 441 8484" label="90 224 453 1856" tooltip="Telefon" %}
</p>
<p>
  {% include button accent="true" icon="print" label="90 224 999 3419" tooltip="Faks"%}
</p>
<p>
  {% include button accent="true" icon="mail" label="info@rbamimarlik.com" transformCase="false" href="mailto:info@rbamimarlik.com" tooltip="Faks"%}
</p>

<script>
  function initMap() {
    //Google Map Skin - Get more at http://snazzymaps.com/
    var myLatLng = new google.maps.LatLng(40.212474, 28.971091);
    var mapOpts = {
      center: myLatLng,
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      zoom: 16,
      scrollWheel: false,
      styles: [{"featureType":"landscape.natural","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"color":"#e0efef"}]},{"featureType":"poi","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"hue":"#1900ff"},{"color":"#c0e8e8"}]},{"featureType":"road","elementType":"geometry","stylers":[{"lightness":100},{"visibility":"simplified"}]},{"featureType":"road","elementType":"labels"},{"featureType":"transit.line","elementType":"geometry","stylers":[{"visibility":"on"},{"lightness":700}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#7dcdcd"}]}]
    };

    var map = new google.maps.Map(document.getElementById('map'), mapOpts);
    // Create a marker and set its position.
    var marker = new google.maps.Marker({
      map: map,
      position: myLatLng,
      title: 'RBA Mimarlık'
    });
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyChMUIchdP2-fszPVVUilKNnktLl93QWfE&libraries=visualization&callback=initMap"></script>
