<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header mdl-layout__header show-only-phone">
        <div class="mdl-layout__header-row">
          <!-- Title -->
          <span class="mdl-layout-title">
            <img class="logo" src="{{ "/assets/logo-monochrome.png" | prepend: site.baseurl }}">
          </span>
        </div>
      </header>
      <div class="mdl-layout__drawer">
        <a class="mdl-layout-title" href="{{ "/" | prepend: site.baseurl }}">
          <img class="logo" src="{{ "/assets/logo.png" | prepend: site.baseurl }}">
        </a>
        <nav class="mdl-navigation">
          {% for page in site.pages %}
            {% if page.title %}
            <a class="mdl-navigation__link" href="{{ page.url }}">{{ page.title }}</a>
            {% endif %}
          {% endfor %}
          <a class="mdl-navigation__link" href="">Blog</a>
        </nav>
      </div>
      <main class="mdl-layout__content">
        <div id="backdrop" class="mdl-shadow--2dp"></div>
        <div id="main-grid" class="mdl-grid">
          <div class="mdl-cell mdl-cell--3-col mdl-cell--hide-phone mdl-cell--hide-tablet">
            <header id="site-header">
              <a href="{{ "/" | prepend: site.baseurl }}">
                <img class="logo" src="{{ "/assets/logo.png" | prepend: site.baseurl }}">
              </a>
              {% include nav.html %}
            </header>
          </div>
          <div id="container" class="mdl-cell mdl-cell--9-col">
            {{ content }}
          </div>
        </main>

    {% include footer.html %}

    </div>
  </body>

</html>
